<p>placement works!</p>
<h2>Placement Form</h2>
    <form action="submit_placement.php" method="post">
        <label for="company">Select the company you are interested in:</label><br><br>

        <input type="radio" id="accenture" name="company" value="Accenture">
        <label for="accenture">Accenture</label><br>

        <input type="radio" id="tcs" name="company" value="TCS">
        <label for="tcs">TCS</label><br>

        <input type="radio" id="infosys" name="company" value="Infosys">
        <label for="infosys">Infosys</label><br>

        <input type="radio" id="wipro" name="company" value="Wipro">
        <label for="wipro">Wipro</label><br>

        <input type="radio" id="cognizant" name="company" value="Cognizant">
        <label for="cognizant">Cognizant</label><br><br>

        <input type="submit" value="Submit">
    </form>